@import "mixin.scss";
@import "variables.scss";
@import "style";

header {
    position: relative;
    height: 100vh;
    background-image: $gradient;
    @include flexing;
    margin-bottom: 3vw;

    p {
        transform: scale(3);
        position: absolute;
        top: 30px;
        left: 30px;
    }

    article {
        @include flexing;
        flex-direction: column;

        div {
            display: flex;
            position: relative;

            h1 {
                font-size: 10vw;
                color: $main-color;
                align-self: flex-end;
            }

            h3 {
                color: $main-color;
                background-color: $fourth-color;
                font-size: 5vw;
                padding: 1.2vw 2vw;
                border-radius: 50%;
                position: absolute;
                right: -4vw;
                top: -5vw;
            }
        }

        h2 {
            font-size: 5vw;
            color: $main-color;
        }
    }

    .social {
        position: absolute;
        bottom: 5%;
        right: 5%;
        @include flexing;
        gap: 3rem;

        i {
            font-size: 40px;
        }
    }
}

main {
    display: flex;
    justify-content: space-between;
    padding: 0 3vw;
    margin-bottom: $margin-bottom;
    
    img {
        @include img-tag;
    }
    
    article {
        @include flexing;
        flex-direction: column;


        h1 {
            @include h1-tag;
        }

        p {
            @include p-tag;
        }

        button {
            @include button;
        }
    }
}

footer {
    background-image: $gradient;
    @include flexing;
    color: white;
    font-size: $p-size;

    p {
        padding: 1vw 0;
    }
}