$main-color: white;
$first-color: #5af2fd;
$second-color: #fcc735;
$third-color: #fd5f5f;
$fourth-color: #bb4dfa;

$gradient: linear-gradient(45deg, $first-color 12.50%, $second-color 12.50%, $second-color 25%, $third-color 25%, $third-color 37.50%, $fourth-color 37.50%, $fourth-color 50%, $first-color 50%, $first-color 62.50%, $second-color 62.50%, $second-color 75%, $third-color 75%, $third-color 87.50%, $fourth-color 87.50%, $fourth-color 100%);